/*#################Navigation Bar section######################*/


nav, header, footer{
    display: block;
}


nav {
    width: 100%;
    margin: 0;
}


nav ul{
    background-color: floralwhite;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul.topNavLeft li{
    float:left;
    list-style: none;
}

nav ul.topNavLeft li a{
    padding: 10px;
    text-align: center;
    display:block;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

nav ul li a:hover{
    background-color: brown;
    color: gray;
}

nav ul li.dropDownToggle {
    display: none;
}

/*##########Navigation Bar section ends#################*/

.center{
    text-align:center;
}

h1{
    color: crimson;
}

.preheader{
    height: 400px;
    width: 100%;
    background-color: bisque;
    overflow: hidden;
    padding: 40px;
}

.header{
    margin: 0;
    padding: 0;
}

.headerImage{
    height: 300px;
    width: 300px;
    border-radius: 5%;
}

.headerImageContainer{
    padding: 4px;
}

.main{
    margin: auto;
}

button{
    font-style: oblique;
    font-family: cursive;
    background-color: blue;
    padding: 8px;
    color: white;
    border-radius: 10%;
}

.preFooter{
    height: 200px;
    width: 100%;
    font-family: monospace;
    margin: auto;
}

.footer{
    background-color: bisque;
    position: absolute;
    width: 100%;
}

.footer p{
    font-family: 'Charmonman', 'cursive';
}


img{
    height: 100px;
    width: 150px;
    display: block;
    margin: auto;
}


body{
    background-color: floralwhite;
    line-height: 1;
    margin: 0;
    font-family: cursive;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

.floatRight{
    float:right;
}


*{
    box-sizing: border-box;
}

.row {
  display: flex;
    width: 100%;
    justify-content: center;
}


.row::after{
    display:block;
    clear:both;
    content:"";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



/*##########################################*/

@media screen and (max-width:680px){
    ul.topNavLeft li:not(:nth-child(1)){
        display:none;
    }
    
    .row{
        flex-flow: wrap;
    }
    
    ul.topNavLeft li.dropDownToggle{
        display: block;
        float: right;
    }
    
    .headerImage{
        height: 80px;
        width: 80px;
    }
    
    ul.topNavLeft.Responsive{
        position: relative;
    }
    
    ul.topNavLeft.Responsive li.dropDownToggle{
        position: absolute;
        top: 0;
        right: 0;
    }

    
    ul.topNavLeft.Responsive li a{
        display: block;
        text-align: left;
    }
    
    ul.topNavLeft.Responsive li{
        display:inline;
        float: none;
    }
}
